# Dependencies
node_modules/

# Build outputs
dist/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/migrations/

# Turbo
.turbo/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage
coverage/

# Temp
tmp/
.tmp/
apps/api/uploads/2ff50f29-acef-49dc-82a4-dec146931d1f/1776192689980-902437328.webp
